
@font-face
{
  font-family:'iransans';
  src: url('assets/fonts/iransans.eot?#') format('eot'),
  url('assets/fonts/iransans.woff') format('woff')

}
.fontIransans{
  font-family:iransans !important;
}

body{
  font-family: iransans !important;
}